/* 27-07-25 6:30 am: Made some changes to header area */
header {
    background-color: var(--foreground);
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
	padding-right: 2rem;
}

.head1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0.5rem;
}

.head1 > img {
	object-fit: contain;
	height: 3rem;
}

.head2 {
    display: none;
    list-style: none;
    justify-content: space-evenly;
}

.head2 a{
    color: var(--text);
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    display: flex;
    text-decoration: none;
}

/* 27-07-25 6:53 am: Changed hover color */
.head2 a:hover{
    background-color: var(--highlight);
    color: var(--foreground);
    border-radius: 5px;
}

/* 27-07-25 6:53 am: Changed background color */
.head3 {
	display: none;
	background-color: var(--highlight);
	padding: 0.5rem 1rem;
	border-radius: 5px;
}

.head3 a{
    color: var(--foreground);
}

@media only screen and (min-width: 650px) {
	.head1 img{
		height: 4rem;
	}
	.head2{
		display: flex;
	}
	.head3{
		display: flex;
	}
	.header-button {
		display: none;
	}
	.foot-desc {
		flex: 1 1 20%;
	}
}

/* 27-07-25 6:30 am: Menu/Drawer on mobile screen */
.header-button {
	background-color: var(--foreground);
	border: none;
	cursor: pointer;
	font-size: 2rem;
}

.mobile-menu-hidden {
	background-color: transparent;
	z-index: -999;
}

.mobile-menu-shown {
	background-color: rgba(var(--text-rgb), 0.8);
	z-index: 100;
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
	backdrop-filter: blur(5px);
	transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.mobile-menu-list-hidden {
	transform: translateX(100%);
}

.mobile-menu-list-shown {
	transform: translateX(0);
}

.mobile-menu-list {
	list-style: none;
	height: 100%;
	background-color: var(--foreground);
	width: 100%;
	max-width: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: end;
	gap: 1rem;
	padding: 1rem;
	transition: all 0.3s ease-in-out;
}

.mobile-menu-list a {
	color: var(--text);
}

.mobile-menu-list a:hover {
	color: var(--highlight);
}

.mobile-menu-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.mobile-menu-list .clicker {
	padding: 0.5rem 1rem;
	background-color: var(--highlight);
	color: var(--foreground);
	border-radius: 5px;
	cursor: pointer;
	border: none;
	box-shadow: 0 2px 4px rgba(var(--text-rgb), 0.2);
}

.mobile-menu-header > button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* End of mobile menu section */

@media only scren and (min-width: 650px) {
	.mobile-menu {
		display: none;
	}
}
