#success-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--text-rgb), 0.5);
	z-index: 9999;
	display: none;
	justify-content: center;
	align-items: center;
}

#success-modal > div {
	padding: 1rem;
	max-width: 40rem;
}

.success-container {
	background-color: var(--foreground);
	padding: 0.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.success-container * {
	margin: 0;
}

.success-container input {
	border: 0;
	background: transparent;
	padding: 0.5rem;
	flex-grow: 1;
	color: var(--foreground);
}

.success-container button {
	background-color: #0073e6;
	color: var(--foreground);
	border: 0;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
}

.clipboarder {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	background: #252525;
	padding: 0.25rem;
	border-radius: 5px;
	flex: 1;
	color: var(--foreground);
}

.clipboarder span {
	padding: 0.5rem;
}

.warning {
	display: flex;
	flex-direction: column;
	background-color: #a8a8a8;
	border-radius: 5px;
	overflow: hidden;
}

.warning-signs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: red;
	padding: 0.5rem;
	font-weight: bold;
}

.warning p {
	padding: 0.5rem;
}
