/* 27-07-25 6:30 am: CSS Reset & Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #f6f5f7;
}

/* 27-07-25 6:30 am: Made some changes to header area */
header {
    background-color: #fff;
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
	padding-right: 2rem;
}

/* 27-07-25 6:30 am: Menu/Drawer on mobile screen */
.header-button {
	background-color: #fff;
	border: none;
	cursor: pointer;
	font-size: 2rem;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.5rem;
}

.cards1 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	display: flex;
    justify-content: center;
}

.cards2 {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	display: flex;
    justify-content: center;
}

.card1{
    width: 80%;
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.user-id{
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	width: 100%;
}

.user-id h2 {
	margin: 0.5rem 0;
}

.user-info {
	width: 100%;
	max-width: 50rem;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.user-info input {
    background-color: #cfcbcb;
	padding: 0.5rem 1rem;
	border: 0px solid #cfcbcb;
	outline: 0px solid #cfcbcb;
	border-radius: 5px;
	transition: outline 0.3s ease-in-out, border 0.3s ease-in-out;
}

.user-info input:focus {
	border: 1px solid #ff4b2b;
	outline: 1px solid #ff4b2b;
}

.user-info-id {
	flex-grow: 4;
}

.user-info-zone {
	flex-grow: 2;
}

.user-info button {
	background-color: #ff4b2b;
	border-radius: 5px;
	color: white;
	border: none;
	padding: 10px;
	flex-grow: 1;
	cursor: pointer;
}

.head1{
  padding: 0;
  margin: 0;
}

.head1 img{
  width: 100%;
  height: 4rem;
  padding: 0.85rem;
  margin: 0;
}

.head2{
    display: none;
    list-style: none;
    justify-content: space-evenly;
}

.head2 a{
    color: black;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    display: flex;
    text-decoration: none;
}

/* 27-07-25 6:53 am: Changed hover color */
.head2 a:hover{
    background-color: #ff4b2b;
    color: white;
    border-radius: 5px;
}

/* 27-07-25 6:53 am: Changed background color */
.head3 {
	display: none;
	background-color: #ff4b2b;
	padding: 0.5rem 1rem;
	border-radius: 5px;
}

.head3 a{
    color: white;
}

/* 27-07-25 6:30 am: Deprecated, to remove later
/*
.cards{
    margin: 0.5rem;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}
*/

/* 27-07-25 6:30 am: Slider in the main section */
.cards-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.5rem;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-container {
	background: transparent;
}

.card {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	margin: 20px 0 25px 0;
	gap: 0.5rem;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.bestseller {
	background-color: #ff4b2b;
	color: white;
	padding: 5%;
	border-radius: 5px;
	position: absolute;
	top: 10%;
	left: -30%;
	width: 100%;
	transform: rotate(-45deg);
	text-align: center;
	font-size: 0.8rem;
	font-weight: bold;
	z-index: 1;
}

.card .img-container {
	width: 100%;
	aspect-ratio: 5/3;
    border-radius: 8px;
    border: 2px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.card .img-container img{
    width: 100%;
	height: 100%;
	object-fit: cover;
}

.buy-me {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.buy-me > * {
	text-wrap: nowrap;
	overflow: hidden;
}

.buy-me > button {
	justify-self: flex-end;
	background-color: #ff4b2b;
	color: white;
	border-radius: 5px;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

/* End of slider section */

footer{
    margin-top: 15px;
	width: 100%;
}

.foot-panel1 {
	background-color: #fff;
	border-radius: 5px;
	padding: 0.5rem;
}

.foot-panel1 a {
	color: #ff4b2b;
}

.history {
    background-color: white;
    display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.5rem;
	background: transparent;
}

.history > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-height: 15rem;
	overflow-y: scroll;
	background: transparent;
}

.history li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	background-color: #fff;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
	padding: 0.5rem;
	border-radius: 5px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.text-center {
	text-align: center;
}

.history > .text-center a {
    border: none;
	color: #ff4b2b;
	cursor: pointer;
}

.foot-panel2{
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2 a{
    color: white;
    font-size: 0.85rem;
    text-decoration: none;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    min-height: 300px;
    display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 1rem;
	gap: 1rem;
}

.foot-desc {
	flex: 1 1 30%;
}


.foot-panel3 p{
    color: #a8a8a8;
}

.social{
    display: flex;
	gap: 2rem;
}

.social a{
    display: flex;
    font: 14px;
    margin-top: 8px;
    color: #dddddd;
    text-decoration: none;
}

.social a:hover{
    transform: scale(1.5);
}

.foot-panel5{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
}

.pages{
    padding: 10px;
}

.copyright{
    padding: 0;
}



@media only screen and (min-width: 650px) {
	.head1 img{
		height: 4rem;
	}
	.head2{
		display: flex;
	}
	.head3{
		display: flex;
	}
	.header-button {
		display: none;
	}
	.foot-desc {
		flex: 1 1 20%;
	}
}

/* 27-07-25 6:30 am: Redundant, to remove later
@media (max-width: 650px) {
    header {
      flex-direction: column;
      align-items: center;
    }

    .head1 img{
      height: 3rem;
    }
  
    .head2 ul {
      flex-direction: column;
      width: 100%;
    }
  
    .head2 ul li {
      margin: 10px 0;
    }

    .foot-panel3{
      flex-wrap: wrap;
      height: 100%;
      padding: 10px;
    }
  
    .foot-desc{
       width: 50%;
    }

    .cards1{
        margin: 0;
    }

    .user-id{
        width: 100%;
    }

    .btn{
      width: 20%;
    }

  }
 *End of section */

/*form section*/
.contact-container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    max-width: 48%;
    width: 45%;
    transition: 0.3s ease;
    align-items: center;
  }
  
  .contact-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 18px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 6px;
    color: #555;
    font-weight: 500;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
  }
  
  .input-group input:focus,
  .input-group textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .input-group textarea {
    min-height: 120px;
    resize: vertical;
  }
  
  .contact-form button {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }

  @media (max-width: 768px) {
    .contact-container {
      padding: 25px;
    }
  
    .contact-form h2 {
      font-size: 1.5rem;
    }
  
    .input-group input,
    .input-group textarea {
      font-size: 0.95rem;
    }
  
    button {
      font-size: 0.95rem;
    }
  }
  
  @media (max-width: 480px) {
    .contact-container {
      padding: 50px;
    }
  
    .contact-form h2 {
      font-size: 1.3rem;
    }
  
    button {
      padding: 12px;
    }
  }

  /*slider*/
  .product-slider-section {
    max-width: 100%;
    margin: auto;
    padding: 15px;
  }
  
  .slider-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .product-slider {
    overflow: hidden;
    width: 100%;
  }
  
  .product-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .product-card {
    min-width: 19.5%;
    max-width: 20%;
    background: #fff;
    margin: 0 10px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
  }
  
  .product-card img {
    width: 100%;
    max-width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: solid black;
    padding: 15px;
  }
  
  .product-card h3 {
    margin: 10px 0 5px;
  }
  
  .product-card p {
    color: #ff6a6a;
    font-weight: bold;
  }
  
  .product-card button {
    background: #555;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.9);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.3em 0.6em;
    border-radius: 50%;
    z-index: 2;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
